<% if user_signed_in? %>
  <p class="control">
  <%= link_to current_user.name, edit_user_registration_path, class: "button is-info"%>
  </p>
  <p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is_info"%>
  </p>
  <% else %>
   <p class="control">
  <%= link_to 'Sign In', new_user_session_path, class: "button is-info"%>
  </p>
  <p class="control">
  <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info"%>
  </p>
  <% end %>
<% @posts.each do |post| %>
<li>
<%= link_to post.title, post_path(post), class: 'post_title'%>
</li>
<% end %>
<%= link_to "New Post", new_post_path, class: 'post_title'%>